.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards-card-body p:nth-of-type(1) {

  color: var(--textColor, #202020);
  font-family: var(--fontFamilySansSerif, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif);
  font-size: var(--fontSizeMedium, 16px);
  font-weight: var(--fontWeightBold, 550);
  text-transform: uppercase;
}


.cards-card-body p:last-of-type {
  color: dimgray;
  display: block;
  font-size: var(--fontSizeSmall, 14px);
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  width: 260px;
}

.cards>ul>li {

  width: 260px;
  height: 290px;
}

.cards .cards-card-body {

  margin-top: 0px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}


h2#recent-articles {
  font-family: Asar, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin-bottom: 13.5px;
  margin-top: 27px;
  width: 332px;
  height: 64px;
  font-size: 36px;
}

h2#where-do-you-want-to-go {
  font-family: Asar, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin-bottom: 13.5px;
  margin-top: 27px;
  width: 332px;
  height: 36px;
  font-size: 24px;
}

.cards-wrapper .default-content-wrapper {
  padding-left: 14px;
  padding-right: 14px;
}

.cards-wrapper {

  margin-bottom: 40px;
  max-height: fit-content;
  padding-left: 14px;
  padding-right: 14px;
}

.cards-wrapper .default-content-wrapper .button-container a {
  background-color: var(--brandPrimary, #ffea00);
  margin-top: 2rem;
  border-radius: var(--buttonBorderRadius, 0);
  color: var(--textColor, #202020);
  font-size: var(--fontSizeSmall, 14px);
  font-weight: var(--fontWeightBold, 600);
  padding: 1em 2.5em;
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .cards-wrapper {
    margin-bottom: 0px;
    margin-left: 31px;
    margin-right: 31px;
  }

  h2#recent-articles {
    margin-left: 31px;
    margin-right: 31px;
  }

  h2#where-do-you-want-to-go {
    margin-left: 31px;
    margin-right: 31px;
  }
  p.button-container{
    margin-left: 31px;
    margin-right: 31px;
  }
  h2#next-adventures
  {
    margin-left: 31px;
    margin-right: 31px;
  }
  .cards-wrapper .lock ul{
  grid-template-columns: repeat(2, 1fr);
    width: 400px;}
  .cards-wrapper .lock ul li{ 
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 359px;
    width: 359px;
    opacity: 0.7;
  }
  .cards-wrapper .lock ul li::before{
     content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  z-index: 2;
  background: linear-gradient(
    to left top,
    hsla(0, 0%, 100%, 0) 0%,
    hsla(0, 0%, 100%, 0) 50%,
    var(--brandPrimary, #ffea00) 50%,
    var(--brandPrimary, #ffea00) 100%
  );

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
  }
  .cards-wrapper .lock ul li::after {
  content: url('/icons/lock.svg'); /* Or use emoji 🔒 or font icon */
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15px;
  height: 15px;
  z-index: 2;
    opacity: 1;
  display: block;
  pointer-events: none;
}
  
  .lock .cards-card-body p:nth-of-type(2) {
    color:grey;
    font-size: 14px;
    font-family: roboto, roboto-fallback, sans-serif;;
  }
  .lock .cards-card-body p:nth-of-type(1) {
    font-size: 18px;
    font-family: roboto, roboto-fallback, sans-serif;;
  }
   .lock .cards-card-body .button-container{
    margin-left: 0px;
  }
  .lock .cards-card-body .button-container .button
  {
    background-color: #ebebeb;
  }
  .lock>ul>li img{
    height: 200px;
  }
}


.cards-wrapper .lock ul li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        z-index: 2;
        background: linear-gradient(to left top, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 50%, var(--brandPrimary, #ffea00) 50%, var(--brandPrimary, #ffea00) 100%);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        opacity: 1;
    }

    .cards-wrapper .lock ul li::after {
        content: url(/icons/lock.svg);
        position: absolute;
        top: 10px;
        left: 10px;
        width: 15px;
        height: 15px;
        z-index: 2;
        opacity: 1;
        display: block;
        pointer-events: none;
    }