/* header and nav layout */

header .nav-wrapper {
  position: fixed;
  height: 69px;
  width: 360px;
  /* smaller height for mobile */
  padding-top: 10px;
  /* less padding on mobile */
  padding-bottom: 10px;
  background-color: var(--background-color);

  z-index: 999;
  transition: padding 0.3s ease, height 0.3s ease;

}

header .nav-wrapper.shrink {
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: flex;
}

.section.nav-tools {
  position: relative;
  /* make this a positioning context */
  display: flex;
  align-items: center;
}

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #0f0f0f;
}

.signin-bar {
  background-color: #0f0f0f;
  text-align: right;
  font-size: 14px;
  min-height: 1px;
  height: 21px;
  border-bottom: 1px solid #ccc;
  padding-left: 14px;
  padding-right: 14px;
  width: auto;
  border-bottom-width: 0px;
}

.signin-bar a {
  color: #ffffff;
  display: inline;
  text-decoration: none;


}


input#nav-search-input {
  padding-left: 30px;
  width: 170px;
  height: 46px;
  padding-left: 32px;
  padding-right: 32px;
  border: 0px;
  background-color: #ebebeb8a;
}

span.icon.icon-search {
  position: absolute;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 10;
  width: 20px;
  height: 20px;
  transform: scaleX(-1);
  top: 15px;
  left: 32px;
  bottom: 3px;
  line-height: 0px;

}


header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height) 'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height) 'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}



/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  /* flex: 1 1 auto; */
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  float: right;
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul>li {
  font-size: 14px;
}

header nav .nav-sections ul>li>ul {
  margin-top: 0;
}

header nav .nav-sections ul>li>ul>li {
  font-weight: 400;
}

@media (width >=900px) {
  header nav {
    display: flex;
    justify-content: start;
    gap: 0 0px;
    max-width: 1200px;
    padding: 0 32px;
  }

  header .nav-wrapper {
    height: 69px;
    width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  header .nav-wrapper.shrink {
    height: 69px;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .header.block {
    width: 100%;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }

  header nav[aria-expanded='true'] .nav-sections {
    width: 810px;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }


  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper>ul>li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper>ul>li[aria-expanded='true']>ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper>ul>li>ul>li {
    padding: 8px 0;
  }

  .signin-bar {
    background-color: #0f0f0f;
    text-align: right;
    font-size: 14px;
    min-height: 1px;
    height: 21px;
    border-bottom: 1px solid #ccc;
    padding-left: 14px;
    padding-right: 14px;
    width: 1000px;
    border-bottom-width: 0px;
    margin: 0px 150px;
  }

  nav#nav {
    width: 1228px;
    height: 68px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 124px;
    margin-left: 80px;
  }

  .nav-wrapper .default-content-wrapper {
    margin-top: 0px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .nav-wrapper .nav-tools .default-content-wrapper {
    width: 0px;
  }

  .nav-wrapper .default-content-wrapper p {
    width: 0px;
  }

  /* .nav-wrapper .nav-tools .default-content-wrapper .icon-search{
    top:0px;
    bottom:0px;
  }  */
}