footer {
  font-size: var(--body-font-size-xs);
  background-color: #202020;
  color: white;
   margin-top: 100px;
}

footer .footer>div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >=900px) {
  footer .footer>div {
    padding: 40px 32px 24px;
  }

  footer .footer>div .section {
    display: inline-flex;
    padding-left : 75px;
    height: 45px;
    padding-top: 2px;
    position: relative;
    top:-17px;
  }

  footer .footer>div .section .default-content-wrapper {
    display: flex;
  }

  footer .footer>div .section .default-content-wrapper ul {
    text-decoration: none;
    display: flex;
    gap: 50px;
    list-style: none;
    color: white;
  }
  span.icon.icon-wkndlight{
    width: 128px;
    height: auto;
  }
}